---
---
// CONFIG
// Game

$tile-size: 8px;
$game-width: 60;
$game-height: 60;

// Colours

$blue: #0076E3;

// END CONFIG


// Calculations

$light-blue: lighten($blue, 10%);
$game-window-width: $tile-size * $game-width;
$game-window-height: $tile-size * $game-height;

html, body{
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
body{
	display: table;
	overflow: hidden;
}

@mixin no_select{
	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
}

@mixin animate($duration: .06s){		
	// Animates all properties of an object 					
	-webkit-transition:
		all $duration linear;
	-moz-transition: 
		all $duration linear;
	-o-transition: 
		all $duration linear;
	transition: 
		all $duration linear;
}

.animate{
	@include animate;
}

h1{
	width: 100%;
	font-size: 4rem;
	margin: 1rem 0 1rem 0;
}
h2{
	margin: 1rem 0 1rem 0;
	font-style: italic;
	font-size: 1.2rem;
	color: #555;
}
p{
	float: left;
	clear: both;
}
body>div{
	display: table-cell;
	vertical-align: middle;
	padding: 0 2rem 0 2rem;
}
body>div>div{
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
}
#game{
	width: $game-window-width;
	height: $game-window-height;
	background-color: #eee;
	float: left;
	margin-right: 1rem;
	position: relative;
}
.snake-bit,
.snake-sample{
	background: green;
	width: $tile-size;
	height: $tile-size;
	float: left;
	color: green;
	font-size: 6px;
	line-height: 10px;
	text-align: center;
	font-weight: 400;
	overflow: hidden;
	position: absolute;
	@include no_select;
}
.hide{
	opacity: 0;
	position: absolute;
	top: -10000px;
}
.debug_overlays{
	color: #fff;
}
#controls{
	float: left;
}
#score{
	clear: both;
	float: left;
	display: block;
	padding: 1rem 0 1rem 0;
}


// Buttons
.button{
	float: left;
	cursor: pointer;
	font-size: 1rem;
	background: $blue;
	color: #fff;
	padding: 0.5rem 1rem 0.5rem 1rem;
	border-radius: 3px;
	@include no_select;
	&:hover{
		background: $light-blue;
	}
	
}
#new-game{
}