---
---
/* CONFIG */
// Game
$tile-size: 12px; // Default 12px
$game-width: 45; // Default 45
$game-height: 45; // Default 45

// Colours
$blue: #0076E3;
$food: #CE0049;
$snake: green;
/* END CONFIG */

// Calculations
$light-blue: lighten($blue, 10%);
$game-window-width: $tile-size * $game-width;
$game-window-height: $tile-size * $game-height;

html, body{
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	position: fixed;
	display: table;
}

@mixin no_select{
	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
}

@mixin animate($duration: 5s){		
	// Animates all properties of an object 					
	-webkit-transition:
		background $duration ease-in-out,
		opacity $duration ease-in-out,
		border $duration ease-in-out;
	-moz-transition: 
		background $duration ease-in-out,
		opacity $duration ease-in-out,
		border $duration ease-in-out;
	-o-transition: 
		background $duration ease-in-out,
		opacity $duration ease-in-out,
		border $duration ease-in-out;
	transition: 
		background $duration ease-in-out,
		opacity $duration ease-in-out,
		border $duration ease-in-out;
}

@mixin rotate($angle: 0){
	// Rotates a div by specified angle 
	-webkit-transform:rotate(#{$angle}deg);
	-moz-transform:rotate(#{$angle}deg);
	-ms-transform:rotate(#{$angle}deg);
	-o-transform:rotate(#{$angle}deg);
	transform:rotate(#{$angle}deg);
}

.animate{
	@include animate;
}

h1{
	width: 100%;
	font-size: 4rem;
	margin: 1rem 0 1rem 0;
}
h2{
	margin: 1rem 0 1rem 0;
	font-style: italic;
	font-size: 1.2rem;
	color: #555;
}
p{
	float: left;
	clear: both;
}
body>div{
	display: table-cell;
	vertical-align: middle;
	/*padding: 0 2rem 0 2rem;*/
	margin: 0;
	box-sizing: border-box;
}
body>div>div{
	width: 100%;
	max-width: 1000px;
	margin: 0px auto;
	box-sizing: border-box;
}
#game{
	width: $game-window-width;
	height: $game-window-height;
	background-color: #eee;
	float: left;
	margin-right: 1rem;
	position: relative;
	overflow: hidden;
}
.snake-bit,
.snake-sample{
	background: $snake;
	width: $tile-size;
	height: $tile-size;
	color: $snake;
	font-size: 6px;
	line-height: 10px;
	text-align: center;
	font-weight: 400;
	overflow: hidden;
	position: absolute;
	@include no_select;
}
.food{
	background: $food;
	width: $tile-size;
	height: $tile-size;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	opacity: 1;
	@include no_select;
	@include animate;
}
.invisible{
	opacity: 0;
}
.hide{
	opacity: 0;
	position: absolute;
	top: -10000px;
}
.debug_overlays{
	color: #fff;
}
#controls{
	float: left;
}
#score-board{
	clear: both;
	float: left;
	display: block;
	padding: 1rem 0 1rem 0;
	font-size: 2rem;
	font-weight: 700;
}
#message-board{
	& i{
		color: #777;
	}
	& b{
	}
	& b.red{
		color: red !important;
		font-weight: normal;
	}
	& b.green{
		color: lighten($snake, 5%) !important;
	}
}
.github{
	float: left;
	clear: left;
}

// Buttons
.button{
	float: left;
	cursor: pointer;
	font-size: 1rem;
	background: $blue;
	color: #fff;
	padding: 0.5rem 1rem 0.5rem 1rem;
	border-radius: 3px;
	@include no_select;
	&:hover{
		background: $light-blue;
	}
	
}
#new-game{
}

#head{
	z-index: 5;
}
#snake-head-right,
#snake-head-left,
#snake-head-down,
#snake-head-up,{
	background: inherit;
	text-align: center;
	line-height: 100%;
	width: 100%;
	height: 100%;
	color: #fff;
	& div{
		width: 50%;
		height: 100%;
		float: right;
		& div{
			border: ($tile-size * .15) solid $snake; // Size of the snakes eyes
			box-sizing: border-box;
			background: lighten($snake, 30%);
			float: left;
			height: 50%;
			width: 100%;
		}
	} 
}
#snake-head-right{
	@include rotate(0);
}
#snake-head-left{
	@include rotate(180);
}
#snake-head-down{
	@include rotate(90);
}
#snake-head-up{
	@include rotate(270);
}